
# Applied project for deep understanding /pandas Session 


# House Price Analysis

<img src ="House Price.jpg" style = "width:200px;height=200px"/>

In [13]:
#<img src ="House Price.jpg" style = "width:200px;height=200px"/>
#this commend is for adding pic into jupyter

##  Exploreing  & understanding  the data :

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns

In [4]:
df = pd.read_csv("kc_house_data.csv")
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [5]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
df.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850

In [6]:
df.tail(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21603,7852140040,20140825T000000,507250.0,3,2.50,2270,5536,2.0,0,0,...,8,2270,0,2003,0,98065,47.5389,-121.881,2270,5731
21604,9834201367,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,0,...,8,1490,0,2014,0,98144,47.5699,-122.288,1400,1230
21605,3448900210,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,0,...,9,2520,0,2014,0,98056,47.5137,-122.167,2520,6023
21606,7936000429,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,0,...,9,2600,910,2009,0,98136,47.5537,-122.398,2050,6200
21607,2997800021,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,0,...,8,1180,130,2008,0,98116,47.5773,-122.409,1330,1265
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [16]:
df.shape

(21613, 21)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [9]:
# Data types of columns
print(df.dtypes)

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [18]:
#nan value checking 
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [34]:
# Remove duplicates from the DataFrame
df_cleaned = df.drop_duplicates()

# Verify the number of duplicates removed
num_duplicates_removed = len(df) - len(df_cleaned)
print("Number of duplicates removed:", num_duplicates_removed)

Number of duplicates removed: 0

# phase2 : Data Exploration and Preliminary Analysis

## Filtering Columns & rows

using uniqe method

In [6]:
# Assuming your DataFrame is named 'df'
unique_bedroom_counts = df['bedrooms'].unique()
print(unique_bedroom_counts)
#unique_bedroom_counts will contain an array of unique bedroom counts present in the 'bedrooms' column.

[ 3  2  4  5  1  6  7  0  8  9 11 10 33]

Filtering Rows Based on Conditions:
 filter rows in a DataFrame based on certain conditions using boolean indexing.

In [15]:
# Filtering rows where 'bedrooms' is greater than or equal to 3
filtered_rows = df[df['bedrooms'] >= 3]
print(filtered_rows)
# Combining multiple conditions using logical operators (& for AND, | for OR)
filtered_rows1 = df[(df['bedrooms'] >= 3) & (df['bathrooms'] >= 2)]
print(filtered_rows1)

               id             date      price  bedrooms  bathrooms  \
0      7129300520  20141013T000000   221900.0         3       1.00
1      6414100192  20141209T000000   538000.0         3       2.25
3      2487200875  20141209T000000   604000.0         4       3.00
4      1954400510  20150218T000000   510000.0         3       2.00
5      7237550310  20140512T000000  1225000.0         4       4.50
...           ...              ...        ...       ...        ...
21606  7936000429  20150326T000000  1007500.0         4       3.50
21607  2997800021  20150219T000000   475000.0         3       2.50
21608   263000018  20140521T000000   360000.0         3       2.50
21609  6600060120  20150223T000000   400000.0         4       2.50
21611   291310100  20150116T000000   400000.0         3       2.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
0             1180      5650     1.0           0     0  ...      7
1             2570      7242     2.0           0     0  ...      7
3             1960      5000     1.0           0     0  ...      7
4             1680      8080     1.0           0     0  ...      8
5             5420    101930     1.0           0     0  ...     11
...            ...       ...     ...         ...   ...  ...    ...
21606         3510      7200     2.0           0     0  ...      9
21607         1310      1294     2.0           0     0  ...      8
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21611         1600      2388     2.0           0     0  ...      8

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
0            1180              0      1955             0    98178  47.5112
1            2170            400      1951          1991    98125  47.7210
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
5            3890           1530      2001             0    98053  47.6561
...           ...            ...       ...           ...      ...      ...
21606        2600            910      2009             0    98136  47.5537
21607        1180            130      2008             0    98116  47.5773
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21611        1600              0      2004             0    98027  47.5345

          long  sqft_living15  sqft_lot15
0     -122.257           1340        5650
1     -122.319           1690        7639
3     -122.393           1360        5000
4     -122.045           1800        7503
5     -122.005           4760      101930
...        ...            ...         ...
21606 -122.398           2050        6200
21607 -122.409           1330        1265
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21611 -122.069           1410        1287

[18641 rows x 21 columns]
               id             date      price  bedrooms  bathrooms  \
1      6414100192  20141209T000000   538000.0         3       2.25
3      2487200875  20141209T000000   604000.0         4       3.00
4      1954400510  20150218T000000   510000.0         3       2.00
5      7237550310  20140512T000000  1225000.0         4       4.50
6      1321400060  20140627T000000   257500.0         3       2.25
...           ...              ...        ...       ...        ...
21606  7936000429  20150326T000000  1007500.0         4       3.50
21607  2997800021  20150219T000000   475000.0         3       2.50
21608   263000018  20140521T000000   360000.0         3       2.50
21609  6600060120  20150223T000000   400000.0         4       2.50
21611   291310100  20150116T000000   400000.0         3       2.50

       sqft_living  sqft_lot  floors  waterfront  view  ...  grade  \
1             2570      7242     2.0           0     0  ...      7
3             1960      5000     1.0           0     0  ...      7
4             1680      8080     1.0           0     0  ...      8
5             5420    101930     1.0           0     0  ...     11
6             1715      6819     2.0           0     0  ...      7
...            ...       ...     ...         ...   ...  ...    ...
21606         3510      7200     2.0           0     0  ...      9
21607         1310      1294     2.0           0     0  ...      8
21608         1530      1131     3.0           0     0  ...      8
21609         2310      5813     2.0           0     0  ...      8
21611         1600      2388     2.0           0     0  ...      8

       sqft_above  sqft_basement  yr_built  yr_renovated  zipcode      lat  \
1            2170            400      1951          1991    98125  47.7210
3            1050            910      1965             0    98136  47.5208
4            1680              0      1987             0    98074  47.6168
5            3890           1530      2001             0    98053  47.6561
6            1715              0      1995             0    98003  47.3097
...           ...            ...       ...           ...      ...      ...
21606        2600            910      2009             0    98136  47.5537
21607        1180            130      2008             0    98116  47.5773
21608        1530              0      2009             0    98103  47.6993
21609        2310              0      2014             0    98146  47.5107
21611        1600              0      2004             0    98027  47.5345

          long  sqft_living15  sqft_lot15
1     -122.319           1690        7639
3     -122.393           1360        5000
4     -122.045           1800        7503
5     -122.005           4760      101930
6     -122.327           2238        6819
...        ...            ...         ...
21606 -122.398           2050        6200
21607 -122.409           1330        1265
21608 -122.346           1530        1509
21609 -122.362           1830        7200
21611 -122.069           1410        1287

[12584 rows x 21 columns]

## Data Selection and Indexing:

Using Square Brackets [] Indexing

In [10]:
# Selecting specific columns using square brackets
selected_columns = df[['id', 'date', 'price']]
selected_columns

               id             date     price
0      7129300520  20141013T000000  221900.0
1      6414100192  20141209T000000  538000.0
2      5631500400  20150225T000000  180000.0
3      2487200875  20141209T000000  604000.0
4      1954400510  20150218T000000  510000.0
...           ...              ...       ...
21608   263000018  20140521T000000  360000.0
21609  6600060120  20150223T000000  400000.0
21610  1523300141  20140623T000000  402101.0
21611   291310100  20150116T000000  400000.0
21612  1523300157  20141015T000000  325000.0

[21613 rows x 3 columns]

Using .loc[] and .iloc[]:

In [12]:
#loc[] is label-based indexing
# Using .loc[] for label-based indexing
selected_data1 = df.loc[:, ['id', 'date', 'price']]
print(selected_data1)
#iloc[] is integer-based indexing
# Using .iloc[] for integer-based indexing
selected_data2 = df.iloc[:, [0, 1, 2]]
print(selected_data2)

               id             date     price
0      7129300520  20141013T000000  221900.0
1      6414100192  20141209T000000  538000.0
2      5631500400  20150225T000000  180000.0
3      2487200875  20141209T000000  604000.0
4      1954400510  20150218T000000  510000.0
...           ...              ...       ...
21608   263000018  20140521T000000  360000.0
21609  6600060120  20150223T000000  400000.0
21610  1523300141  20140623T000000  402101.0
21611   291310100  20150116T000000  400000.0
21612  1523300157  20141015T000000  325000.0

[21613 rows x 3 columns]
               id             date     price
0      7129300520  20141013T000000  221900.0
1      6414100192  20141209T000000  538000.0
2      5631500400  20150225T000000  180000.0
3      2487200875  20141209T000000  604000.0
4      1954400510  20150218T000000  510000.0
...           ...              ...       ...
21608   263000018  20140521T000000  360000.0
21609  6600060120  20150223T000000  400000.0
21610  1523300141  20140623T000000  402101.0
21611   291310100  20150116T000000  400000.0
21612  1523300157  20141015T000000  325000.0

[21613 rows x 3 columns]

## Statistical summary

In [19]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

## Data Manipulation

How to add new columns

In [17]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'price_per_sqft'],
      dtype='object')

In [20]:
df['age_of_house'] = 2023 - df['yr_built']

In [21]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15', 'price_per_sqft',
       'age_of_house'],
      dtype='object')

# ............................................................................................................................

Grouping and Aggregating Data:

In [22]:
# Grouping by 'bedrooms' and calculating mean price and max sqft_living
grouped_data = df.groupby('bedrooms').agg({'price': 'mean', 'sqft_living': 'max'})
grouped_data

                 price  sqft_living
bedrooms
0         4.095038e+05         4810
1         3.176429e+05         3000
2         4.013727e+05         6840
3         4.662321e+05         6400
4         6.354195e+05         7850
5         7.865998e+05        10040
6         8.255206e+05        12050
7         9.511847e+05        13540
8         1.105077e+06         7710
9         8.939998e+05         4620
10        8.193333e+05         4590
11        5.200000e+05         3000
33        6.400000e+05         1620

## Correlation Analysis

In [23]:
df.corr()

C:\Users\M.S.I\AppData\Local\Temp\ipykernel_6212\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,price_per_sqft,age_of_house
id,1.000000,-0.016762,0.001286,0.005160,-0.012258,-0.132109,0.018525,-0.002721,0.011592,-0.023783,...,-0.005151,0.021380,-0.016907,-0.008224,-0.001891,0.020799,-0.002901,-0.138798,-0.005528,-0.021380
price,-0.016762,1.000000,0.308350,0.525138,0.702035,0.089661,0.256794,0.266369,0.397293,0.036362,...,0.323816,0.054012,0.126434,-0.053203,0.307003,0.021626,0.585379,0.082447,0.554703,-0.054012
bedrooms,0.001286,0.308350,1.000000,0.515884,0.576671,0.031703,0.175429,-0.006582,0.079532,0.028472,...,0.303093,0.154178,0.018841,-0.152668,-0.008931,0.129473,0.391638,0.029244,-0.206069,-0.154178
bathrooms,0.005160,0.525138,0.515884,1.000000,0.754665,0.087740,0.500653,0.063744,0.187737,-0.124982,...,0.283770,0.506019,0.050739,-0.203866,0.024573,0.223042,0.568634,0.087175,-0.091421,-0.506019
sqft_living,-0.012258,0.702035,0.576671,0.754665,1.000000,0.172826,0.353949,0.103818,0.284611,-0.058753,...,0.435043,0.318049,0.055363,-0.199430,0.052529,0.240223,0.756420,0.183286,-0.092314,-0.318049
sqft_lot,-0.132109,0.089661,0.031703,0.087740,0.172826,1.000000,-0.005201,0.021604,0.074710,-0.008958,...,0.015286,0.053080,0.007644,-0.129574,-0.085683,0.229521,0.144608,0.718557,-0.033822,-0.053080
floors,0.018525,0.256794,0.175429,0.500653,0.353949,-0.005201,1.000000,0.023698,0.029444,-0.263768,...,-0.245705,0.489319,0.006338,-0.059121,0.049614,0.125419,0.279885,-0.011269,0.003840,-0.489319
waterfront,-0.002721,0.266369,-0.006582,0.063744,0.103818,0.021604,0.023698,1.000000,0.401857,0.016653,...,0.080588,-0.026161,0.092885,0.030285,-0.014274,-0.041910,0.086463,0.030703,0.193215,0.026161
view,0.011592,0.397293,0.079532,0.187737,0.284611,0.074710,0.029444,0.401857,1.000000,0.045990,...,0.276947,-0.053440,0.103917,0.084827,0.006157,-0.078400,0.280439,0.072575,0.220932,0.053440
condition,-0.023783,0.036362,0.028472,-0.124982,-0.058753,-0.008958,-0.263768,0.016653,0.045990,1.000000,...,0.174105,-0.361417,-0.060618,0.003026,-0.014941,-0.106500,-0.092824,-0.003406,0.102345,0.361417
grade,0.008130,0.667434,0.356967,0.664983,0.762704,0.113621,0.458183,0.082775,0.251321,-0.144674,...,0.168392,0.446963,0.014414,-0.184862,0.114084,0.198372,0.713202,0.119248,0.122758,-0.446963
sqft_above,-0.010842,0.605567,0.477600,0.685342,0.876597,0.183512,0.523885,0.072075,0.167649,-0.158214,...,-0.051943,0.423898,0.023285,-0.261190,-0.000816,0.343803,0.731870,0.194050,-0.088618,-0.423898
sqft_basement,-0.005151,0.323816,0.303093,0.283770,0.435043,0.015286,-0.245705,0.080588,0.276947,0.174105,...,1.000000,-0.133124,0.071323,0.074845,0.110538,-0.144765,0.200355,0.017276,-0.025762,0.133124
yr_built,0.021380,0.054012,0.154178,0.506019,0.318049,0.053080,0.489319,-0.026161,-0.053440,-0.361417,...,-0.133124,1.000000,-0.224874,-0.346869,-0.148122,0.409356,0.326229,0.070958,-0.289866,-1.000000
yr_renovated,-0.016907,0.126434,0.018841,0.050739,0.055363,0.007644,0.006338,0.092885,0.103917,-0.060618,...,0.071323,-0.224874,1.000000,0.064357,0.029398,-0.068372,-0.002673,0.007854,0.105483,0.224874
zipcode,-0.008224,-0.053203,-0.152668,-0.203866,-0.199430,-0.129574,-0.059121,0.030285,0.084827,0.003026,...,0.074845,-0.346869,0.064357,1.000000,0.267048,-0.564072,-0.279033,-0.147221,0.172630,0.346869
lat,-0.001891,0.307003,-0.008931,0.024573,0.052529,-0.085683,0.049614,-0.014274,0.006157,-0.014941,...,0.110538,-0.148122,0.029398,0.267048,1.000000,-0.135512,0.048858,-0.086419,0.472049,0.148122
long,0.020799,0.021626,0.129473,0.223042,0.240223,0.229521,0.125419,-0.041910,-0.078400,-0.106500,...,-0.144765,0.409356,-0.068372,-0.564072,-0.135512,1.000000,0.334605,0.254451,-0.236032,-0.409356
sqft_living15,-0.002901,0.585379,0.391638,0.568634,0.756420,0.144608,0.279885,0.086463,0.280439,-0.092824,...,0.200355,0.326229,-0.002673,-0.279033,0.048858,0.334605,1.000000,0.183192,0.038563,-0.326229
sqft_lot15,-0.138798,0.082447,0.029244,0.087175,0.183286,0.718557,-0.011269,0.030703,0.072575,-0.003406,...,0.017276,0.070958,0.007854,-0.147221,-0.086419,0.254451,0.183192,1.000000,-0.057515,-0.070958
price_per_sqft,-0.005528,0.554703,-0.206069,-0.091421,-0.092314,-0.033822,0.003840,0.193215,0.220932,0.102345,...,-0.025762,-0.289866,0.105483,0.172630,0.472049,-0.236032,0.038563,-0.057515,1.000000,0.289866
age_of_house,-0.021380,-0.054012,-0.154178,-0.506019,-0.318049,-0.053080,-0.489319,0.026161,0.053440,0.361417,...,0.133124,-1.000000,0.224874,0.346869,0.148122,-0.409356,-0.326229,-0.070958,0.289866,1.000000

In [23]:
# Filter columns for corr calculation
columns_of_interest = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade', 'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode', 'lat', 'long', 'sqft_living15', 'sqft_lot15']
correlations = df[columns_of_interest].corr()
# you print the correlations of each column with the 'price' column, sorted in descending order.

print(correlations['price'].sort_values(ascending=False))

price            1.000000
sqft_living      0.702035
grade            0.667434
sqft_above       0.605567
sqft_living15    0.585379
bathrooms        0.525138
view             0.397293
sqft_basement    0.323816
bedrooms         0.308350
lat              0.307003
waterfront       0.266369
floors           0.256794
yr_renovated     0.126434
sqft_lot         0.089661
sqft_lot15       0.082447
yr_built         0.054012
condition        0.036362
long             0.021626
zipcode         -0.053203
Name: price, dtype: float64

#  End  of  pandas 😊